<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <style>
        html {
          background-color: #ffd6ff;
          box-sizing: border-box;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          text-align: center;
        }
  
        body {
          max-width: 40%;
          margin: auto;
        }
  
        #header {
          margin-top: 3rem;
          font-size: 2rem;
          font-family: monospace;
        }
  
        main {
          background-color: #ced4da;
          padding: 2rem;
          border-radius: 6px;
        }
  
        form {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          font-size: 1rem;
          width: 30%;
          margin: auto;
        }
  
        div {
          display: flex;
          justify-content: space-between;
        }
  
        button {
          padding: 0.5rem 1rem;
          background-color: bisque;
          border-radius: 6px;
          font-family: monospace;
        }
      </style>
</head>
<body>
    <h2 id="header">Your file is Ready to Download</h2>

    <form action="/download" method="get">
        <button type="submit">Download</button>
    </form>
</body>
</html>